body{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
  padding: 1em;
  background-color: rgba(83, 136, 68, 0.64);
}

.book, .add-button{
  background-color: #fff8f8eb;
  display: flex;
  flex-direction: column;
  padding: 2em;
  padding-top: 1em;
  border-radius: 5%;
}

.book{
  min-width: 200px;
}

.add-button{
  justify-content: center;
  padding: 0;
  height: 100%;
}

.plus-btn{
  font-size: 5em;
  border: none;
  color: white;
  background-color: #9ad045;
  cursor: pointer;
}

 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.book-form-container {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 30px;
  border: 1px solid #888;
  width: 15%; /* Could be more or less, depending on screen size */
  flex-direction: column;
  align-items: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus, .book-delete {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

.book-delete{
  position: relative;
  left: 100%;
}
